@import url(https://fonts.googleapis.com/css?family=Raleway:300,300i);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Fira+Code);

body {
  font-family: "Raleway", "Frutiger", sans-serif;
}

h1, h2, h3 {
  font-family: "Raleway", "Frutiger", sans-serif;
}

.remark-code, .remark-inline-code {
  font-family: 'Roboto Mono', monospace;
}
